@charset "UTF-8";

/* =========================
   SEC1.5 – BRAND VALUE
========================= */

.sec15 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #ffffff;   /* 화이트톤 베이지 */
  color: #223A5E;
  display: flex;
}

.sec15-inner {
  width: min(1160px, 92vw);
  margin: 0 auto;
  text-align: center;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec15 h2 {
  margin-top: 100px;  
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 800;
  margin-bottom: 40px;
  letter-spacing: -0.03em;
}

/* 3개 원が 겹쳐있는 그룹 */
.sec15-circle-group {
  position: relative;
  width: 100%;
  height: 260px;
  
  margin: 0 auto 48px;
  
}

.value-circle {
  position: absolute;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.05rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.18);
  margin-bottom: 20px;
}


.sec15-circle-group span {font-size: 1.6rem;}

/* 품질 */
.value-quality {
  
  left: 15%;
  background: rgba(34, 58, 94, 0.95);
  color: #ffffff;
}

/* 신뢰 */
.value-trust {
  
  left: 50% ;
  transform: translateX(-50%);
  background: rgba(80, 118, 185, 0.95);
  color: #ffffff;
}

/* 혁신 */
.value-innovation {
 right: 15%;
  
  background: rgba(4, 49, 116, 0.95);
  color: #fff;
}

/* 텍스트 박스 */
.sec15-textbox {
    margin-top: 30px !important;
    text-align: center;
  width:100%;
  margin: 0 auto;
    
  font-size: 0.98rem;
  line-height: 1.6;
  word-break: keep-all;
  
}

.sec15-textbox p  {
  margin-top: 0.9em;
  color: #333;
  font-size: 1.3rem;
}
/* ------------------------------------------- */
@media (max-width: 1100px) {
    
}



/* --------------------------------------------- */
@media (max-width: 960px) {

    
    .sec15-textbox {margin-top: 30px;}
     /* 품질 */
.value-quality {
  
  left: 3%;
  
}


/* 신뢰 */
.value-trust {
  
  left: 50% ;
  transform: translateX(-50%);
  
}

/* 혁신 */
.value-innovation {
 right:3%;
  

}
} 


@media (max-width: 760px) {

    
     /* 품질 */
.value-quality {
  
  left: 1%;
  
}

/* 신뢰 */
.value-trust {
  
  left: 50% ;
  transform: translateX(-50%);
  
}

/* 혁신 */
.value-innovation {
 right:1%;
  

}

}

  /* -------------------------------- */
@media (max-width: 700px) {
    .sec15 {height: 70vh !important;}
    .sec15-textbox {display: none;}
    .mosec15-textbox {display: block !important;}
     
    .sec15 { padding-bottom: 0 !important;}
    .value-circle {
        width: 120px; 
        height: 120px;
    }
    /* 품질 */
.value-quality {
  
  left: 8%;
  
}



/* 신뢰 */
.value-trust {
  
  left: 50% ;
  transform: translateX(-50%);
  
}

/* 혁신 */
.value-innovation {
 right:8%;
  

}

.sec15-circle-group span {font-size: 1.2rem;}

.sec15 h2  { margin-top: 0; }
.sec15-circle-group {height: 100px;}
.mosec15-textbox p{ font-size: 16px !important;}
}



.mosec15-textbox {display: none;}
.mosec15-textbox {text-align: center;
  width:100%;
  margin: 0 auto;
    
  font-size: 0.98rem;
  line-height: 1.9;
  word-break: keep-all;}
  


 .mosec15-textbox p{margin-top: 0.9em;
  color: #333;
  font-size: 1.3rem; }

  @media (max-width: 500px) {
    .sec15 {height: 80vh !important;}
  }

  @media (max-width: 400px) {
    .sec15 {height: 85vh !important;}
  }

    @media (max-width: 380px) {
      .sec15 { height: 100vh !important;}
    }


    @media screen and (min-width: 375px) and (max-width: 375px)
  and (min-height: 667px) and (max-height: 667px) {
     .sec15 {  height: 105vh !important;}
   }